/* the following is the code to style the contents of the blog page of a digital fitness journal */


/* here we set the parameters to which the unit 'rem' should be relative to */
\:root{
    font-size: 10px;
}

/* here we style the background of the page */
body{
    background-image:url(background.png);
    background-color: #E3F2FD;
}

/* the navigation bar is rearranged and styled to be centre-aligned */
.navBar{
    background-color: #0E0E52;
    overflow: hidden;   
    height: 10vh;
    font-family: "Murecho", Arial, Helvetica, sans-serif;
}
.navBar a {
    float: left;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;

}
.navBar a:hover {
    background-color: #E4572E;
    color: white;
}
#home{
    margin-left: 30vw;
}


/* headings are styled below */
h1{
    font-family:"Bebas Neue", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color:#E4572E;
    text-align: center;
}


/* images used are resized */
img{
    height: 20vh;
    width: 20vw;
    padding: 1.5rem;
    border-radius: 20%;
}



/* here a section is styled differently to the main page, a border */
.article{
    background-color: #E3F2FD;
    box-shadow: inset;
    width: 93%;
    margin-left: 1.5rem;
    margin-bottom: 4rem;
    border:solid;
    border-width: 1px;
    border-color: #0E0E52;
    border-radius: 3px;
    
}


/* headings and text are styled */
h2{
    font-family:"Bebas Neue", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color:#E4572E;
    padding-left: 2rem;
    text-align: center;
}
h3{
    font-family:"Bebas Neue", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color:#E4572E;
    text-align: left;
    padding-left: 2.5vw;
    padding-top: 1.5vh;
}
p{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;
}
.comment{
    width:83%;
    margin: 0 1rem 0 2rem;
    padding-bottom: 2rem;
}
#comment-box{
    box-shadow:inset;
}
label{
    font-family:"Bebas Neue", Arial, Helvetica, sans-serif;
    font-size:1.5rem;
    color:#0E0E52;


}
label, #commentBox{
    display:flex;
    flex-direction: column;
}
button{
    background-color: #E4572E;
    font-family: "Murecho", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color:white;
    border:none;
    border-radius:4px;
    padding: 0.5rem;
}
button:hover{
    background-color: #0E0E52;
}
.liked{
    background-color: #0E0E52;
}
.commentList{
    background-color: white;
    border-radius:3px;


}
#unordered{
    list-style-type: none;
    font-family:"Roboto", Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    background-color: white;
    border-radius:3px;
}
.save{
    padding: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
.saved{
    padding: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    background-color: #0E0E52;

}

/* footer is styled */
footer{
    background-color: #0E0E52;
    border-radius: 5px;
    padding: 20px;
    margin-top: 3rem;
}

/* contact form is styled here */
input[type=text], select, textarea {
    width: 70%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical
  }
  

  input[type=submit] {
    background-color: #E4572E;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 2rem;
    margin-bottom: 4rem;
    display: inline;
  }
  
  input[type=submit]:hover {
    background-color: #E3F2FD;
    color:black;
  }
  input[type=text], input[type=submit]{
    display:flex;
    flex-direction: column;
  }